/* AppComponent's private CSS styles */
h1 {
  padding-left: 1rem;
  margin-bottom: 1rem;
}
nav a {
  padding: 1rem;
  text-decoration: none;
  text-align: center;
  margin: 15px 10px;
  width: 6rem;
  display: inline-block;
  background-color: #2c272e;
  color: #9ae66e;
  border-radius: 25px;
}

nav a:hover {
  color: #e59934;
  transition-duration: 0.2s;
}
nav a.active {
  background-color: black;
}
